:root {
    --secondary-color: #e2edf4;
    --default-font: 'Poppins', sans-serif;
    --heading-font: 'Tiro Devanagari Hindi',
        serif;
    --branding-color: #FFDD00;

}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: var(--heading-font);
    font-weight: bold;
}
h1 {
    font-size: 70px;
    line-height: 1.5;
}
h2{
    font-size: 62px;
}
p {
    font-family: var(--default-font);
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}
img {
    border-radius: 7px;
}
.hero {
background-color: var(--secondary-color);
text-align: center;
padding: 170px 20px;
}
.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}
.hero h2 {
    font-weight: normal;
    font-size: 24px;
    font-family: var(--heading-font);
    line-height: 1.5;
}
.btn-branding {
    background-color: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height:27px;
    padding:  15px, 30px;
}

.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
.about-container h2{
    font-size: 20px;
    line-height: 1;
}
.about-container h1{
    font-size: 60px;
}
.about-container p{
    font-size: 15px;
    font-family: var(--default-font);
    line-height: 30px;
}
.about-content{
    margin: 30px;
    padding: 0                  ;
}

@media (max-width: 900px) {
    h1 {
        font-size: 44px;
        line-height: 2;
    }

    h2 {
        font-size: 44px;
    }

    .hero {
        padding: 80px 20px;
    }
}